---js
{
  pagination: {
    data: "calendar.index",
    size: 1,
    alias: "calDate",
  },
  permalink: "| calendar/#{ calDate.year }-#{ calDate.month }/",
  eleventyComputed: {
    title: (data) => `url = ${data.page.url}`
  }
}
---

header
  h1 #{ title }

pre
  code #{ calDate }
